<html>
  <head>
    <title>Database Administration</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
    </script>
    <script src="static/js/admin.js" type="text/javascript"></script>
    <script src="static/js/disable_submission_of_empty_inputs.js" 
      type="text/javascript">
    </script>
  </head>
  <body>
    <h2>Database Administration</h2>
    <h3>Indexed Files</h3>
    {% if indexed_length %}
    <ul>
      {% for item in indexed_items %}
      <li>
        <a href="/blobstore/{{ item.blobkey }}">{{ item.filename }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div>No files indexed yet!</div>
    {% endif %}
    <h3>Uploaded Files</h3>
    {% if uploaded_length %}
      <form id="index-form" action="/admin">
        {% for item in uploaded_items %}
        <div>
          <input type="radio" onclick="updateForm('{{ item.key() }}', '{{
            item.blobkey }}', '{{ item.filename }}');" name="uploaded_file"/> 
            <a href="/blobstore/{{ item.blobkey }}">{{ item.filename }}</a>
        </div>
        {% endfor %}
        <input type="hidden" name="jobName" id="jobName" value=""/>
        <input type="hidden" name="filekey" id="filekey" value=""/>
        <input type="hidden" name="blobkey" id="blobkey" value=""/>
        <input type="submit" name="index" id="index" value="Index"
          disabled="disabled"/>
        <span id="index-message" style="display: none;">
          <b>The indexing job has started!</b> If you reload the page and the
          processing is finished, a link for the index will appear in the
          Indexed Files section.
        </span>
      </form>
      
    {% else %}
    <div>No files uploaded and not indexed!</div>
    {% endif %}
    <h3>Upload New File</h3>
    <form id="upload-form" action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
      <table>
        <tr>
          <td>From your computer:</td>
          <td><input type="file" name="file" id="file" /></td>
        </tr>
        <tr>
          <td>Give it a name:</td>
          <td><input class="non-nulleable-input" type="textfield" id="name" 
              name="name"/>
          </td>
        </tr>
      </table>
      <input class="disabled-when-input-is-null-button" type="submit" 
        name="submit" value="Upload" onclick="displayUpdateLoading()"/>
      <span id="update-error" style="display: none;" >You should upload a .zip
        file</span>  
      <span id="update-loading" style="display: none;" >Loading...</span>  
    </form>
    <h3>Clear the Database</h3>
    <form action="/clear">
      <input type="submit" value="Clear" onclick="displayClearLoading()"/>
      <span id="clear-loading" style="display: none;" >Loading...</span>  
    </form>
  </body>
</html>
